<div class="bodymain">
    <div class="imageDiv" [ngStyle]="{'width': containerwidth, 'height': containerheight}">
      <main *ngIf="!sameSize.active" [ngStyle]="{'grid-template-columns': gridcolumns, 'grid-template-rows': gridrows}">
        <div class="overlay" *ngFor="let image of images; let i = index"  (mouseenter)="mouseenter(i)" (mouseleave)="mouseleave()" [ngClass]="calculateStyle(i)">
          <img (click)='imageSelected($event, image)' class="imagecontainer" [src]="image.imageData.value"/>
          <div class="subtext" (click)='imageSelected($event, image)' [ngClass]="{'full': image.imageData.subtextOverlay === 'full',
          'half': image.imageData.subtextOverlay === 'half',
          'bottom': image.imageData.subtextOverlay === 'bottom' || (!image.imageData.subtextOverlay && image.imageData.subtext)}">{{image.imageData.subtext}}</div>
          <span *ngIf="displayconfig.fullScreenView" class="fullview" (click)="viewFullScreen(image)">&#10064;</span>
        </div>
      </main>
      <main *ngIf="sameSize.active" [ngStyle]="{'grid-template-columns': gridcolumns, 'grid-template-rows': gridrows}">
        <div class="overlay" *ngFor="let image of images; let i = index" (mouseenter)="mouseenter(i)" (mouseleave)="mouseleave()"  [ngClass]="calculateStyle(i)">
          <div class="img imagecontainer" (click)='imageSelected($event, image)' [ngStyle]="{'background-image':' url(' + image.imageData.value + ')',
           'min-height': sameSize.imgContainerHeight}"></div>
          <div class="subtext" (click)='imageSelected($event, image)' [ngClass]="{'full': image.imageData.subtextOverlay === 'full',
          'half': image.imageData.subtextOverlay === 'half',
          'bottom': image.imageData.subtextOverlay === 'bottom' || (!image.imageData.subtextOverlay && image.imageData.subtext)}">{{image.imageData.subtext}}</div>
          <span *ngIf="displayconfig.fullScreenView" class="fullview" (click)="viewFullScreen(image)">&#10064;</span>
        </div>
      </main>
    </div>
  </div>

  <!-- The Modal --> 
<div #myModal class="modal">
  <span #close class="close" (click)="closeImage()">&times;</span>
  <img class="modal-content" #img01>
  <div #caption class="caption"></div>
</div>
  