<div class="bodymain">
    <div class="imageDiv" [ngStyle]="{'width': containerwidth, 'height': containerheight}">
      <main *ngIf="!sameSize.active" [ngStyle]="{'grid-template-columns': gridcolumns, 'grid-template-rows': gridrows}">
        <div class="overlay" *ngFor="let image of images; let i = index">
          <img (click)='imageSelected(image)' class="imagecontainer" [src]="image.imageData.value"
            [ngStyle]="{'transform': hovering==i  ? zoomlvl : 'scale(1)', 'z-index': hovering==i  ? '999' : 'initial' }"
            (mouseenter)="mouseenter(i)" (mouseleave)="mouseleave()" />
          <div class="subtext" [ngClass]="{'full': image.imageData.subtextOverlay === 'full',
          'half': image.imageData.subtextOverlay === 'half',
          'bottom': image.imageData.subtextOverlay === 'bottom' || (!image.imageData.subtextOverlay && image.imageData.subtext)}">{{image.imageData.subtext}}</div>
        </div>
      </main>
      <main *ngIf="sameSize.active" [ngStyle]="{'grid-template-columns': gridcolumns, 'grid-template-rows': gridrows}">
        <div class="overlay" *ngFor="let image of images; let i = index">
          <div class="img imagecontainer" (click)='imageSelected(image)' [ngStyle]="{'transform': hovering==i  ? zoomlvl : 'scale(1)', 'z-index': hovering==i  ? '999' : 'initial', 
          'background-image':' url(' + image.imageData.value + ')', 'min-height': sameSize.imgContainerHeight}"
            (mouseenter)="mouseenter(i)" (mouseleave)="mouseleave()"></div>
          <div class="subtext" [ngClass]="{'full': image.imageData.subtextOverlay === 'full',
          'half': image.imageData.subtextOverlay === 'half',
          'bottom': image.imageData.subtextOverlay === 'bottom' || (!image.imageData.subtextOverlay && image.imageData.subtext)}">{{image.imageData.subtext}}</div>
        </div>
      </main>
    </div>
  </div>
  